<footer class="bg-gray-900 text-gray-200 w-full fixed bottom-0">
  <div class="container mx-auto flex justify-between py-6 ">

    <div class="flex flex-1 ">
      <div class="w-1/4">
        <h2 class="text-2xl font-bold mb-3">About Us</h2>
        <ul class="list-reset mb-6">
          <li><a href="#">
            <i class="glyph-icon-info-circle"></i>Our Mission</a></li>
          <li><a href="#">
            <i class="glyph-icon-users"></i>Our Team</a></li>
          <li><a href="#">
            <i class="glyph-icon-product-hunt"></i>Our Products</a></li>
          <li><a href="#">
            <i class="glyph-icon-blog"></i>Our Blog</a></li>
        </ul>
      </div>
      <div class="w-1/4">
        <h2 class="text-2xl font-bold mb-3">Contact Us</h2>
        <ul class="list-reset mb-6">
          <li><a href="#">
            <i class="glyph-icon-envelope"></i>Email</a></li>
          <li><a href="#">
            <i class="glyph-icon-phone"></i>Phone</a></li>
          <li><a href="#">
            <i class="glyph-icon-map-marker-alt"></i>Address</a></li>
        </ul>
      </div>
      <div class="w-1/4">
        <h2 class="text-2xl font-bold mb-3">Follow Us</h2>
        <ul class="list-reset mb-6">
          <li><a href="#">
            <i class="glyph-icon-twitter"></i>Twitter</a></li>
          <li><a href="#">
            <i class="glyph-icon-facebook"></i>Facebook</a></li>
          <li><a href="#">
            <i class="glyph-icon-linkedin"></i>LinkedIn</a></li>
          <li><a href="#">
            <i class="glyph-icon-instagram"></i>Instagram</a></li>
        </ul>
      </div>
      <div class="w-1/4">
        <h2 class="text-2xl font-bold mb-3">Copyright &copy; 2023 Company Name</h2>
      </div>
    </div>
  </div>
</footer>
